/* .character-icon {
  height: 100px;
  width: 100px;
  border: 5px solid #893088;
} */

.hover-info {
  display: grid;
  grid-template-columns: min-content min-content;
}

.character-name {
  text-align: center;
}

.character-origin-class {
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50px 150px;
}